<!DOCTYPE html>
<html ng-app="app">
  <head>
	  <title>My Angular App!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">

		<!-- Angular JS -->
    <script src="lib/angular/angular.js"></script>

    <!-- Bootstrap-angular JS -->
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- NG-Table -->

    <script src="lib/ng-table/dist/ng-table.js"></script>
    <link rel="stylesheet" href="lib/ng-table/dist/ng-table.css">

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

		<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script> -->
		<!--if above doesnt work <script src="node_modules/angular/angular.min.js"></script> -->
    <!-- <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>

    <script data-require="ng-table-export@0.1.0" data-semver="0.1.0" src="http://bazalt-cms.com/assets/ng-table-export/0.1.0/ng-table-export.js"></script>

    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" /> -->

  </head>

	<body>

		<div ng-controller="DemoCtrl">

		Add or Remove Columns:

  		<div ng-controller="CollapseDemoCtrl">
  			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-align-justify"></span></button>
  			<hr>
  			<div collapse="isCollapsed">
  				<div class="well well-lg">Some content
  					<label class="checkbox" ng-repeat="column in columns">
  		    		<input type="checkbox" ng-model="column.visible" /> {{column.title}}
  					</label>
  				</div>

  			</div>
  		</div>
		  <table ng-table="tableParams" show-filter="true" class="table">
		    <thead>
		    <tr>
		        <th ng-repeat="column in columns" ng-show="column.visible"
		            class="text-center sortable" ng-class="{
		                'sort-asc': tableParams.isSortBy(column.field, 'asc'),
		                'sort-desc': tableParams.isSortBy(column.field, 'desc')
		              }"
		            ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
		            {{column.title}}
		        </th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr ng-repeat="user in $data">
		        <td ng-repeat="column in columns" ng-show="column.visible" sortable="column.field">
		            {{user[column.field]}}
		        </td>
		    </tr>
		    </tbody>
		  </table>

    </div>

    <!-- Custom JS -->
    <script src="/javascripts/ngTable.js"></script>


    <!-- Bootstrap CSS -->
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" >

	</body>

</html>
